.App {
  padding-top: 30px;
  font-family: montserrat;
  background-color: whitesmoke;
}

.container {
  margin: 0 13%;
}

@font-face {
  font-family: montserrat;
  src: url('./fonts/Montserrat-Regular.ttf')
}

@media(min-width: 600px) {
  .container {
    margin: 0 34%;
    margin-bottom: 20px;
  }
}
